html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.loader-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
  margin-left: 0;
}
